h2 {
  font-weight: 30px;
}
h3 {
  font-weight: 18px;
}
p {
  font-weight: 16px;
}

.garamond {
  font-family: adobe-garamond-pro, serif;
  font-style: normal;
  font-weight: 400;
}

.App {
  text-align: center;
}

.margin_sides30 {
  margin-left: 30px;
  margin-right: 30px;
}